@include media-breakpoint-up(md){
	.path-user .region-content,
	.contact-message-feedback-form,
	.contact-message-order-catalog-form,
//	.page-node-type-page .node__content,
	.view-welcome {
		width: 50%;
		margin: auto;
	}
}

#block-b5cinema-socialauthlogin {
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 1rem;
	position: relative;
	background-color: $gray-300;
	margin: 1rem 0;
	img {
		padding: 0.5rem;
	}
	.social-auth::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		content: "";
	}
	@include media-breakpoint-up(md) {
	.path-welcome &,
	.path-frontpage & {
		margin: 1rem 25%;
		}
	}
}

.lang-dropdown-select-element {
	padding-top: 0.45rem;
	padding-bottom: 0.45rem;
}
.navbar-brand {
	font-family: Oswald;
}

//Hide alert massage on User Invite
.page-route-view-frontpage-page-1 .alert,
.path-frontpage .alert,
.page-route-view-frontpage-page-1 .messages,
.path-frontpage .messages {
	display: none;
}